[2020-04-09 11:34] aaronrenner opened #2 "Needs support for binary ids"
This generator needs to correctly support the following
* A phoenix app generated with `--binary-id`
* The generator being run with `--binary-id`

[2020-04-09 11:37] aaronrenner opened #3 "Needs flag for password hashing library"
By default we use bcrypt, but on windows it should use `pdkf2`. It wouldn't hurt to have a flag that controls these and maybe also allows for argon2.

[2020-04-13 14:43] aaronrenner opened #5 "Needs to work properly with custom table names"
Running the following command needs to generate the proper table names:

[code]

This should generate the following tables
* `ticketing_users`
* `ticketing_user_tokens`

Currently it generates:
* `ticketing_users`
* `user_tokens`

[2020-04-13 15:38] aaronrenner opened #6 "Needs support for phoenix apps generated with --live"
Apps generated with --live have a number of differences including not having a app.html.eex.

[2020-04-14 02:32] #2 closed, assigned to nobody

[2020-04-14 07:52] josevalim opened #8 "Simplify layout injection"
Suggestion: [this code](https://github.com/aaronrenner/phx_gen_auth/blob/master/lib/mix/tasks/phx.gen.auth.ex#L430) can probably just inject it after the opening `<body>` tag. It will be wrong but people will have to move it anyway. WDYT?

[2020-04-14 07:53] josevalim commented on #6
We did add a app.html.eex back to --live apps, but the correct is to inject on root.html.leex. So I would check if root.html.leex is there, otherwise fallbaack to app.html.eex. :)

[2020-04-14 12:56] #3 closed, assigned to nobody

[2020-04-15 03:39] aaronrenner commented on #8
I think that makes sense, especially since this code removes the LiveDashboard link. It would be cool if `_user_menu.html` could be nicely merged into the generated phoenix app's menu with some default CSS, but that could be a future improvement.

Thanks for suggesting this option. I'll get working on it. :heart:

[2020-04-15 05:37] #8 closed, assigned to nobody

[2020-04-16 05:36] #6 closed, assigned to nobody

[2020-04-16 14:22] #5 closed, assigned to nobody

[2020-05-01 18:24] dalarenal opened #14 "Can "maybe_hash_password" run the "else" condition?"
I've used this in my project, and I noticed that the coverage of tests is not 100%. Checking the code, the part without test is this one, in the `else` condition:
https://github.com/aaronrenner/phx_gen_auth/blob/v0.2.0/priv/templates/phx.gen.auth/schema.ex#L52
[code]

I've been trying to identify in which cases we can reach that `else`. It only happens in the registration and password changesets.

[2020-05-01 18:29] josevalim commented on #14
Currently it cannot but I think that as soon as you add other fields and you want to update them alongside your password, then it will be triggered.

[2020-05-01 20:41] dalarenal commented on #14
I think as it is in [`prepare_changes`](https://github.com/aaronrenner/phx_gen_auth/blob/v0.2.0/priv/templates/phx.gen.auth/schema.ex#L48), it can be triggered only when the changeset is valid. To be valid, it [requires the password](https://github.com/aaronrenner/phx_gen_auth/blob/v0.2.0/priv/templates/phx.gen.auth/schema.ex#L43).

Then, if everytime `maybe_hash_password` receives a changeset wit

[2020-05-01 20:53] josevalim commented on #14
Ah, yes. Since we also have validate_required, you are correct. I will also change it in the original project, thanks!

[2020-05-01 22:42] josevalim commented on #14
I have fixed it on the original repo. Feel free to send a PR here too. :)

[2020-05-02 14:34] #14 closed, assigned to nobody

[2020-05-03 15:11] josevalim opened #16 "Port the latest live_socket_id changes"
https://github.com/dashbitco/mix_phx_gen_auth_demo/commit/1eebcaed8913dad9854acce201777bd92f0d1b0a

:)

[2020-05-05 03:43] aaronrenner opened #17 "Bump required phoenix dependency to 1.5.2"
Need to bump dependency once phoenix 1.5.2 is released, due to this commit:

https://github.com/dashbitco/mix_phx_gen_auth_demo/pull/1/commits/4113391098d5bf1c562bb9e87d7e32a6f261b342

[2020-05-05 04:25] #16 closed, assigned to nobody

[2020-05-05 04:25] aaronrenner commented on #16
Thanks for the heads up!

[2020-05-06 23:47] josevalim opened #18 "Remove unecessary user_ prefix"
https://github.com/dashbitco/mix_phx_gen_auth_demo/commit/2b92a22ffa50203eaeceb8b5626a82c7b645f535

[2020-05-07 00:05] josevalim commented on #18
https://github.com/dashbitco/mix_phx_gen_auth_demo/commit/3003342

[2020-05-08 10:40] josevalim opened #19 "Allow to logout even if already logged out"
https://github.com/dashbitco/mix_phx_gen_auth_demo/commit/6f2ef5df3eb56cae99183192eef5bd84c1c8e607

[2020-05-08 14:34] #18 closed, assigned to nobody

[2020-05-08 15:49] #19 closed, assigned to nobody

[2020-05-09 16:30] lucperkins opened #20 "Provide support for Ueberauth"
Sorry for the annoying feature request, but I do think that a lot of people would use `phx.gen.auth` with the hope of providing support for both standard username/password auth flows *and* external auth providers (Google, GitHub, Apple, etc.). At the moment, `ueberauth` appears to be a de facto standard, and adding an `--ueberauth` option to `phx.gen.auth` would be great. Would be happy to help bu

[2020-05-09 16:49] josevalim commented on #20
Our goal with mix phx.gen.auth is exactly for it to be a starting point, we really don't plan on adding more features to it. More info here:  https://dashbit.co/blog/a-new-authentication-solution-for-phoenix

My hope is that adding uberauth to it in the future will be super easy because we will start having more guides and documentation on those specific integrations. So if you want to help, I wou

[2020-05-12 16:30] woylie opened #22 "Generator injection issue (plug :fetch_current_user)"
I just ran the generator in an existing project. Before, my browser pipeline in the router looked like this:

[code]

The generator put the options for `put_secure_browser_headers` behind `fetch_current_user`:

[code]

[2020-05-13 04:15] thojanssens opened #23 "Clean expired tokens?"
Hello, user session tokens are being piled up in the "users_tokens" table. I don't see any code that cleans up expired tokens. There is also no `:expired_at` field.

An app may have a lot of new sessions every day, this table can lead to very high number of records in a relatively short time.

I do not see reasons why not provide a mechanism to clean this up, as every developer will lead to plus o

[2020-05-13 04:53] thojanssens commented on #23
I see the session is cleared on logout:
[code]

[code]

But that implies that the user triggers the logout. I believe most users just leave the site. Tokens can expire. Then there's no deletion mechanism for those expired tokens.

[2020-05-13 06:51] josevalim commented on #23
You can add your own logic to expire tokens. No token lasts more than 60 days, so you can build something off that.

[2020-05-13 07:36] thojanssens commented on #23
I think this may be included except if there are really too many ways to achieve this; because everyone will have to code it, it seems a must to me. A small periodical task to remove tokens older than 60 days, that developers can customize. To me, the argument not to would be that we can leave the tokens in the table (not my opinion), or that it is too application-specific (not my opinion).

Is ju

[2020-05-15 21:12] aaronrenner opened #24 "Need to inject fixtures functions into module instead of overwriting it"
Now this phoenix PR has been merged https://github.com/phoenixframework/phoenix/pull/3829, we run the possibility of overwriting an already generated fixtures module. The fixtures functions should be injected instead of overwriting the entire module.

[2020-05-17 03:18] thojanssens opened #25 "Use `__MODULE__` when possible?"
I see in the code that we prefer to generate the full module name when that name references the module we're in. Any reason to not prefer the usage of `__MODULE__`?

A good example is the xxxToken module and the numerous use of:
[code]

The advantage of `__MODULE__` is that the module is easier to rename. I don't see disadvantages in its use.

[2020-05-17 03:18] #22 closed, assigned to aaronrenner

[2020-05-17 03:19] aaronrenner commented on #22
Thanks for reporting this! I just pushed a fix to master.

[2020-05-17 03:25] thojanssens opened #26 ""Confirm email" instead of "confirm user""
Reading the code, we "confirm a user" through email confirmation.
I'm not convinced about the naming; I find it too ambiguous.

Why not talk about "confirm an email". It is more explicit. What does "confirming a user" really means. Furthermore, we might want to to confirm a phone number by SMS some day as well.

Just semantics. (Just in case you agree, let me know if you need help to refactor, it'

[2020-05-17 03:29] aaronrenner opened #27 "Inject user menu inside nav, if possible"
From [this comment](https://github.com/aaronrenner/phx_gen_auth/commit/a1c78235bbc359e4618e21049f76ef1fde1296c7#commitcomment-39226101), it seems like it would be a good idea to inject the _user_menu.html partial into the `<nav>` element if it exists. Otherwise it can fall back to injecting right after `<body>`.

[2020-05-17 03:38] thojanssens opened #28 "Make the `auth_module` less coupled to controllers"
The `auth_module` is designed to work for controllers only. I was thinking that it is possible to divide it into two modules:

- One module manages the `:user_token` in the session and the remember-me cookie (this is then directly usable for SPA/Absinthe apps for example, controllers, etc.);

- Another module on top of it manages the redirections and the `:user_return_to` in the session (the contr

[2020-05-17 07:50] josevalim commented on #25
Hi @thojanssens, I personally find `UserToken` easier to read than `__MODULE__`. We all have preferences in terms of code and it is impossible that the generators will please all of us.

[2020-05-17 07:53] josevalim commented on #26
We need to keep the `user` prefix, in case of multiple generated auth resources in the same context and to follow Phoenix conventions. But I agree adding `email` can be helpful, so I propose `confirm_user_email` (and `confirm_user_email_multi`).

[2020-05-17 07:54] josevalim commented on #26
`confirm_changeset` should stay as `confirm_changeset`, as it doesn't touch the e-mail, only the `confirmed_at` column.

[2020-05-17 07:59] josevalim commented on #28
Similar discussion has come up elsewhere and it is impossible for us to generate code that will work on all situations. Every time we make the code more generic for future usage, we make the code harder to understand for the simple cases. It is your responsibility to take the generated content further.

For example, imagine we change the code somehow to make it easier to work with APIs and LiveVie

[2020-05-17 08:52] thojanssens commented on #25
Of course:) thank you

[2020-05-17 08:52] #25 closed, assigned to nobody

[2020-05-17 09:00] thojanssens commented on #26
But the `confirmed_at` falls into the same reasoning. What exactly is confirmed? We confirmed the existence of the user's email. It should be `confirmed_email_at`.

Reiterating what I said earlier, confirming an account doesn't make sense technically (as to me). We confirm the existence of the email that he registered with. We can also add `confirmed_mobile_number_at` some day.

[2020-05-17 09:08] josevalim commented on #26
Today only e-mail can be confirmed, then there is no ambiguity.

For example, some applications may actually allow you to have multiple e-mails at the same time. In those cases, you have a confirmed_at column which is set once when the first e-mail confirmed and it gives the user confirmed access to the app plus one email+confirmed_at columns for each specific e-mail. In this case, you end-up with

[2020-05-17 09:11] josevalim commented on #26
Another reason why we shouldn't change `confirmed_at` in the current code: if you change your e-mail, we don't update the `confirmed_at` to the date you entered the new e-mail. Maybe this should be even a reason to keep it as `confirm_user` but I will let @aaronrenner chime in. :)

EDIT: the more I think about this, the more I think the e-mail is only a mechanism for confirmation. If you have mult

[2020-05-17 09:23] thojanssens commented on #28
Thank you for sharing your opinion. I was thinking about a module with these functions:
`get_user_token/1`
(get token from session cookie or from remember-me cookie)
`put_user_token/3`
(write token in session cookie and maybe in remember-me cookie)
`delete_user_token/2`

This would be a common base for all the types of apps.

Then another module would be added on top of it, because **it just happe

[2020-05-17 09:26] josevalim commented on #28
generate_session_token, get_user_by_session_token, and delete_session_token in the context are the low-level functions that you want.

[2020-05-17 09:30] josevalim opened #29 "generate_session_token/delete_session_token -> generate_user_session_token/delete_user_session_token"
Those changes have already been pushed to the demo. :)

[2020-05-17 09:44] thojanssens commented on #26
For me, the email confirmation is **only** to make sure to send emails to a valid address (otherwise it is bad for your sender reputation), and to make sure that this email belongs to the user (avoid sending emails to another person). Hence, it specifically confirms an email.

So if you say that `confirmed_at` date doesn't change when entering a new email. Now I question the whole existence of thi

[2020-05-17 09:57] thojanssens commented on #28
Sorry, these functions I wrote (rather extracted from the `auth_module`) operate on the cookie (using `get_session`/`put_session`/...).

The functions in the context that you mention operate on the database.

The `auth_module` manages the token in the cookie + redirects + contains a plug.
I extracted the management of the token in the cookie, as a base for all types of apps (`delete_user_token/2`

[2020-05-17 10:10] thojanssens commented on #26
I will add to that, that the confirmation of the account/user, is the user pressing on the "Register" button of the registration form :) He just *confirmed* he wants an account on your website.

Then an email is sent, allowing to make sure we have the valid user's email, in order to further safely send emails to that address.

If he changes his email address, that address again needs to be confirm

[2020-05-17 10:26] josevalim commented on #28
Right but even cookies are not general enough. Some SPAs prefer to avoid cookies altogether and use headers. You can't set cookies in LVs either, so you need a separate mechanism. So I stand with my vote of keeping things simple since it is always hard to guess. :)

[2020-05-17 10:34] josevalim commented on #26
Registering is not the same as confirmation. E-mails in web apps are often used to confirm the identity of the user - which is why most apps do not allow the same e-mail to be used in more than one account. If it existed only for communication purposes, the uniqueness would be an artificial restriction.

For most apps, the e-mail is a good enough identity. For other apps, it isn't. Other apps don'

[2020-05-17 10:47] thojanssens commented on #28
SPAs that don't want to use cookies wouldn't need this module at all though; I'd imagine they will only use the context functions. So it is not like the module would need to be adapted in this case, it will just be ignored. Just wanted to mention that important difference:-D

LV however I have no idea how it works yet:)

The suggestion was to have code to be easy to use as-is for server-side rende

[2020-05-17 10:55] josevalim commented on #28
Right, that's a good enough solution for you, but my point is exactly that someone could be making the point that cookie-based is not enough and we should further make the generators extensible even for people doing header-based auth. It is a sloppery slope and I personally have no interest in going down the road of making the generator generic. It is easier to say that it works for the generated

[2020-05-17 11:06] thojanssens commented on #28
Thank you for your input! I am closing this issue.

[2020-05-17 11:06] #28 closed, assigned to nobody

[2020-05-17 12:22] thojanssens commented on #26
Indeed if we think of "confirmed at" as "confirmed identity at", the naming makes more sense.

If you register with the email of someone else, and there is no confirming mechanism, you are preventing that someone else to create an account on your website. This is an issue and we're talking about identifiers in this interpretation.

Thank you, I'll close this issue :)

[2020-05-17 12:22] #26 closed, assigned to nobody

[2020-05-18 07:08] thojanssens commented on #26
By the way

I just read in the code (last sentence in the doc below):

[code]

So if we change the email, the `confirmed_at` does also change. So it is not the date of the first time ever he confirmed that the identity belongs to him (email).

[2020-05-18 07:20] josevalim commented on #26
Yes, you are correct. I was probably considering an earlier design of the system. I will double check which date we would rather hold. Thanks.

[2020-05-19 07:21] josevalim opened #30 "Add index to user_id on users_tokens"
https://github.com/dashbitco/mix_phx_gen_auth_demo/commit/57bf7df63e270027d0c69d01c948390c2ee5fb27

[2020-05-20 13:42] #29 closed, assigned to nobody

[2020-05-20 18:42] aaronrenner commented on #17
@josevalim I'm waiting to release v0.3.0 until phoenix 1.5.2 is released, since it undeprecates `Endpoint.subscribe/1`. Since there have been several of changes to the generated code in the past few weeks, I'm considering rolling back this commit (https://github.com/dashbitco/mix_phx_gen_auth_demo/commit/4113391098d5bf1c562bb9e87d7e32a6f261b342) and doing an interim release. However, if 1.5.2 is g

[2020-05-20 18:51] josevalim commented on #17
That works, although i think the plan is to release v1.5.2 this week. Both ways work tho!

[2020-05-20 19:01] aaronrenner commented on #17
Oh, awesome! Thanks for the info. By the time I'm finished making the rest of the updates I need, I bet 1.5.2 will be out.

[2020-05-22 15:19] #30 closed, assigned to nobody

[2020-05-22 15:35] #17 closed, assigned to aaronrenner

[2020-05-26 04:34] #24 closed, assigned to aaronrenner

[2020-05-31 15:12] camelpunch opened #32 ""log in" by default?"
It's a bit pedantic, but I've had to make this change globally to sites before. Perhaps a generator should use "log in" for verb and "login" for noun?

[2020-06-06 01:37] soullpoint opened #33 "Generator option for multitenancy via query prefixes"
Hi, this is just something to consider. I'm not sure if this is something you think would belong in the generator.

I am currently looking at creating a multi-tenant system using the query prefix as the mechanism for separating the Tenants (https://hexdocs.pm/ecto/multi-tenancy-with-query-prefixes.html and https://github.com/ateliware/triplex). I'm interested in using this generator as the basis f

[2020-06-06 08:24] josevalim commented on #33
The generators are meant to be a starting point, so we generally don't plan on adding more complexity to it. Adding flags in particular can be very hard, because once we have 4 different flags, it can be hard for us to guarantee that generated output is it still safe for all possible combinations of the 4 flags. So our plan is to keep it simple. :+1:

[2020-06-06 14:50] #23 closed, assigned to nobody

[2020-06-06 14:54] #33 closed, assigned to nobody

[2020-06-06 14:54] #20 closed, assigned to nobody

[2020-06-12 17:56] #32 closed, assigned to aaronrenner

[2020-06-12 20:38] #27 closed, assigned to aaronrenner

[2020-06-12 23:34] lukashambsch opened #37 "Losing conn.assigns values"
Before I explain my issue I will mention that I'm using `{:phoenix, "~> 1.5.2"}` and phoenix_live_view.

I'm seeing some strange behavior while trying to integrate this into an existing app. The 'creates account and logs the user in' test is failing for the second request in the user registrations controller. The second request in the 'logs the user in' test is also failing in the user sessions co

[2020-06-12 23:53] lukashambsch commented on #37
Of course 15 minutes after finally creating an issue I figure it out. The `fetch_current_user` plug wasn't added to my router. I modified quite a bit to get things going with my current app, so I'm not sure if it was ever added by the generator.

[2020-06-12 23:53] #37 closed, assigned to nobody

[2020-06-15 09:52] StephaneRob opened #38 "Support --no-html"
Is there any plan to add support of `--no-html` to provide a token based authentication generator?

[2020-06-15 09:54] josevalim commented on #38
How would the token authentication work? You still need a place for users to sign in, sign out, change password, etc. Sure, we can skip the HTML, but most of the functionality in the generator is needed and token authentication is just a minor detail.

[2020-06-15 10:01] StephaneRob commented on #38
My idea is to keep the same logic for tokens, but instead of generating a session token it would be an access token sent back to the browser in json (with other info like user), rename the remember_cookie into a refresh_cookie that we can add a `max_age` when remember_me params is true.

The main difference is that we need to fetch the current user from a header and need to add an endpoint to refr

[2020-06-15 10:05] josevalim commented on #38
Right, you can easily build that on top of the current output. My point though that's not all that you would have to change. You would need to reimplement all of the functionality (password changing, emails changing, confirmation etc, ...) without HTML. This is not something we plan to tackle, so my suggestion is to either use this as a starting point or provide an API centric generator.

[2020-06-15 10:05] #38 closed, assigned to nobody

[2020-06-15 10:11] StephaneRob commented on #38
You're right other things to change, but for all functionalities like password changing, emails changing... the logic could remain the same except the endpoints need to send back json. The logic from the HTML need to be implemented in the front application not reimplemented in the generator.

But I understand that there is a lot of work, the main idea was to follow the --no-html of the phx_new gen

[2020-06-16 16:25] roostercrab opened #39 "user is pluralized everywhere"
In many places user is pluralized to users such as:

`def login_users(conn, users, params \\ %{}) do
    token = Accounts.generate_users_session_token(users)
    users_return_to = get_session(conn, :users_return_to)`

There doesn't seem to be a singular instance anywhere, is this intended to be the possessive form as in `user's`?

I wouldn't normally mind, but I'm trying to attach this to a databa

[2020-06-16 16:41] josevalim commented on #39
It should definitely be `login_user`. How did you invoke the generator?

[2020-06-16 17:15] roostercrab commented on #39
I just looked over my notes and compared it to the instructions, no idea how I ended up switching those, but glad to see it was me!

`mix phx.gen.auth Accounts Users user`
Looks like it should have been
`mix phx.gen.auth Accounts User users`
from the docs.

My bad :)

[2020-06-16 17:15] #39 closed, assigned to nobody

[2020-06-17 07:07] chvanikoff opened #40 "Use Router helpers in test cases assertions"
Hi,
I'd suggest changing generated test cases to assert against `Routes.*_path` rather than plain string - this way it becomes much easier to change routes like `/users/login` -> `/auth/login`.
i.e.:
[code]

[2020-06-17 07:15] josevalim commented on #40
I agree. A PR is welcome!

[2020-06-17 11:13] StephaneRob opened #41 "Referrer policy to prevent token leak"
What do you think about adding a referrer policy header on `GET /users/reset_password/:token` to prevent token leak via the referrer?

[2020-06-17 11:29] josevalim commented on #41
Hi @StephaneRob! The system was designed so you can't hijack an account with just the token - which is good practice, as it can also leak in logs, exception tracking, etc -  so the referer policy is not necessary. But probably something you want to add to your app globally anyway, so go for it. :)

[2020-06-17 11:29] #41 closed, assigned to nobody

[2020-06-17 17:39] #40 closed, assigned to nobody

[2020-06-19 20:05] thorebear opened #43 "Updating email doesn't remove the confirmed_at value."
If a user change his email, the confirmed_at field is not deleted meaning that the user is confirmed, but is now having a email that is not confirmed.

[2020-06-19 20:11] josevalim commented on #43
In the generated code, you can only change the e-mail after you confirm it via the "confirm_email" route. So in the generated views, it should definitely work: https://github.com/aaronrenner/phx_gen_auth/blob/master/priv/templates/phx.gen.auth/routes.ex#L23

Are you changing the e-mail manually perhaps? Can you tell a bit more?

[2020-06-19 20:21] thorebear commented on #43
I am referring to the following scenario:
1. A user is created with email 'MAIL1'
2. The user confirms the email 'MAIL1'
3. Using the generated user_settings_controller / view the user update his email to 'MAIL2'

Now without confirming 'MAIL2' the users **confirmed_at** field still have the timestamp of the confirmation of 'MAIL1' - effectively indicating that 'MAIL2' is confirmed.

In a setup li

[2020-06-19 22:29] josevalim commented on #43
this does not actually change his e-mail to MAIL2 UNLESS the user clicks the link on his e-mail.

[2020-06-20 02:48] thorebear commented on #43
You are right. I was probably confused by the function name apply_user_email

[2020-06-20 02:48] #43 closed, assigned to nobody

[2020-06-20 15:18] peaceful-james opened #44 "Why the incongruity with official Contexts docs (no Credential schema)?"
When I use this generator, I get a `User` model in an `Accounts` context, with an email field on it.
In the hexdocs for Contexts (https://hexdocs.pm/phoenix/contexts.html), it is recommended to put `email` on a separate `Credential` schema.
I am wondering - is there a good reason not to use the `Credential` approach?
Thanks for any feedback.

[2020-06-20 15:44] josevalim commented on #44
There is no correct way to design a system. Phoenix contexts used credentials for its own reasons and also for teaching purposes,  but it is just one possibility, not a recommendation. Other libraries like Pow use different approaches.

[2020-06-20 15:44] #44 closed, assigned to nobody

[2020-06-20 15:47] peaceful-james commented on #44
Thanks for the quick feedback! If Jose says it's OK both ways, I feel better. :+1:

[2020-06-20 15:59] josevalim commented on #44
Haha. :) I did consider having a credential like approach too - but it is a lot more complexity that may not be necessary in many cases. I also think it is probably better to have one e-mail being your primary email (therefore in the users table) and the others can be in a separate table and used for secondary purposes.

[2020-07-03 15:47] zorn opened #49 "Update terminology usage (e-mail vs email)."
When applying this to my own projects I saw two terminology discrepancies.

I feel like `e-mail` should be `email`.

https://twitter.com/APStylebook/status/48798366980780033

I also lean toward `sign in` / `sign out` instead of `log in` / `log out`.

One of the main reasons I do this is to avoid the confusion between a login name and the verb log in. In my observations most system have difficulty

[2020-07-03 16:52] josevalim commented on #49
Thanks for the discussion.

I agree we should standardized on one of e-mail or email, it doesn't matter which. @aaronrenner, wdyt?

Regarding sign in / sign out, I have read that "sign up" vs "sign in" is often confusing, especially for non-native speakers, so it is best to avoid the "sign *" conventions in general. That's why I picked register with log in and log out. So this particular aspect wa

[2020-07-03 17:13] zorn commented on #49
Thanks for the notes. I'm pretty ignorant of the non-native speakers issues around "sign in" so I'll have to research and consider that in my own work. 👍

[2020-07-03 17:33] aaronrenner commented on #49
Thanks for bringing this up. I'd vote for `email` over `e-mail` as well and would absolutely merge a PR for it. :+1:

As for `sign in`/`sign out` vs `log in`/`log out`, I think we'd still have the same verb issue that you have with `login`/`log in` except it would be `signin`/`sign in`. Also, when considering @josevalim's point about non-native speakers having issues with `sign in`/`sign out`/`sig

[2020-07-06 20:51] zorn opened #50 "Can we start a CONTRIBUTING.md document?"
I've started work on a PR for the previously discussed "email" change. I am currently not able to run the test to verify I am not breaking anything. I feel like I missing the whole picture of what it takes to run the tests for this repo locally.

First had to get over an error about `:phx_new` compilations by installing a local version of `:phx_new` per the linked instructions below.

[code]

http

[2020-07-06 21:01] aaronrenner commented on #50
That's a great idea. It may take me a couple days to get to, but I can put together some instructions for running tests.

In your case, it sounds like one of your test apps got in a weird state. Try running `rm -rf test_apps` from the root of phx_gen_auth and running the tests again after that.

You can also push your changes to your fork on github and it should automatically build via Github Acti

[2020-07-08 15:43] zorn commented on #50
No rush, but happy to hear it will be on your radar. I will probably try out your notes on Friday or so.

[2020-07-17 04:45] aj-foster opened #51 "Interested in Typespecs?"
Hi there 👋

Thank you for your work on this project. This is a fantastic resource for auth implementation as well as demonstrating Elixir and Phoenix in general.

Are you interested in adding type specifications to the functions created by this project? I realize not everyone uses specs, so totally understand if you'd prefer not to. 🙂

If so, I'm happy to contribute towards this effort with your g

[2020-07-17 06:13] josevalim commented on #51
Hi @aj-foster! Given the goal is inclusion in Phoenix and Phoenix generators do not include typespecs, I would say we should not include typespecs here too. Thank you for reaching out tho!

[2020-07-17 14:29] aaronrenner commented on #51
Thanks for reaching out @aj-foster! Although I personally use typespecs in my code, it would be inconsistent to have `mix phx.gen.auth` generate typespecs while `mix phx.gen.html` does not. Since this project will eventually be merged into phoenix, I definitely feel the need maintain consistency with the rest of the code phoenix generates.

Thanks for bringing this up, though!

[2020-07-17 14:29] #51 closed, assigned to nobody

[2020-07-17 15:38] aaronrenner commented on #50
Closing in favor of #52

@zorn Please let me know if the instructions in this PR work for you.

[2020-07-17 15:38] #50 closed, assigned to nobody

[2020-07-19 22:22] zorn opened #54 "Consider adding a password validation rule that would disallow using the email address as the password."
I saw this image in a joke thread but the warning about using the account email as the password seems like something people might be doing. I don't have any real data but wanted to start a conversation. Should we disallow using the email as the password?

![Attachment-1](https://user-images.githubusercontent.com/52168/87886638-cef74d80-c9ec-11ea-8b46-443dc151339f.png)

[2020-07-19 23:56] zorn opened #55 "Is it ok that `get_user!/1` is generated but only used by tests?"
One of the notes I took while learning this generator was the curious generation of `get_user!/1` that is not used in the actual code but only the tests. This leads me to ask two questions:

1. Should we be generating code in the public `Accounts` module if it is not currently or intended to be used by other controllers?
2. If we generate this in the anticipation that a user will extend their proj

[2020-07-20 07:01] josevalim commented on #54
I know password rules can get quite complex, that’s why I decided to stick with the most important rule, which is length related. But it is rather the starting point. You may also want to make sure the username (if you have one) is not included in the email, names as in the picture above, validate the password is not in the list of leaked passwords, etc. Unless we have evidence there is another si

[2020-07-20 07:08] josevalim commented on #55
Regarding tests, there are two camps here: some people believe it is fine to extend the domain function to add functionality related of the tests, since they consider testing to be a consumer of your code. And you generally want the tests to go through the domain, as much as possible, to ensure data consistency. While others believe this should not be done ever, it depends on which camp you sit. :

[2020-07-20 07:08] #55 closed, assigned to nobody

[2020-07-20 12:22] #49 closed, assigned to nobody

[2020-07-22 21:26] joepstender opened #56 "User or Credential? Rewrite the Authentication part of the Phoenix Guides"
The Phoenix Guides use a slightly different but, when put against what phx_gen_auth produces, utterly confusing naming regarding authentication. In the Phoenix Guides "Credential" is used instead of "User", and they use it as an example how to created a one_to_one relationship:
`mix phx.gen.context Accounts Credential credentials email:string:unique user_id:references:users`

One or the other will

[2020-07-22 21:35] josevalim commented on #56
Yes. It is not related to this project per se but it is in our plans to rewrite the context guides to use another example. Thanks!

[2020-07-22 21:35] #56 closed, assigned to nobody

[2020-07-22 21:56] joepstender commented on #56
Great! Sorry for posting this again here, I now see it was already mentioned in #44
I also would prefer to have User - Email (or Phone number...), and then add for example "Profile" refer to the User with all other stuff you'd want to add.

[2020-07-26 16:14] pdgonzalez872 opened #57 "Question: UUID instead of integer for user id"
Hi @aaronrenner thanks for the awesome lib. Auth is so important and I am happy that we now have an open source, community vetted solution that works out of the box (so nicely) with our beloved stack. Another feather on the Phoenix stack's hat.

I was playing around with the generators and realized we are using integers for the `id` column in `user` instead of using `uuid`s. I was wondering if add

[2020-07-26 16:56] josevalim commented on #57
Phoenix generators support UUIDs, I believe there is a binary generator configuration that you can set. So we should probably do the same if said flag is set. Although it doesn't change the name of the id column, only its underlying type. The change should be straight-forward (probably adding a single line to the generated schemas).

[2020-07-26 20:36] pdgonzalez872 commented on #57
This is what I had to do to make `accounts` work with `uuid`s after running the generator. Tests pass.

[code]

Hope this helps.

[2020-07-27 02:56] aaronrenner commented on #57
@pdgonzalez872 Thanks for reaching out. We actually already have UUID support but the option name is `--binary-id`. Here's the documentation for this option: https://hexdocs.pm/phx_gen_auth/Mix.Tasks.Phx.Gen.Auth.html#module-binary-ids.

Let me know if you have any issues.

[2020-07-27 03:09] aaronrenner commented on #54
@zorn Thanks for bringing this up!

I agree with @josevalim that this is intended to be a starting point and people can make these rules more complex as needed. The intention behind having 3 additional rules that are commented out is so the user sees they have the freedom to make adjustments as they need.

https://github.com/aaronrenner/phx_gen_auth/blob/3ed8ce9655ec07047445588808db028e5bfba01c/pr

[2020-07-27 03:09] #54 closed, assigned to nobody

[2020-07-27 13:25] pdgonzalez872 commented on #57
Oh sweet!! Thanks @aaronrenner ! I guess I was just too excited to try the generator and didn't read the docs all the way. I added a note to the readme about the flag here: https://github.com/aaronrenner/phx_gen_auth/pull/58. If you think it adds any value, feel free to merge it! if not, no worries!

Thanks for your work!

[2020-07-27 13:25] #57 closed, assigned to nobody

[2020-07-28 12:59] liamwhite opened #59 "Wrong arity listed in descriptions for context tests"
`get_user_by_email_and_password/1` (should be /2)
https://github.com/aaronrenner/phx_gen_auth/blob/3ed8ce9655ec07047445588808db028e5bfba01c/priv/templates/phx.gen.auth/context_functions.ex#L33
https://github.com/aaronrenner/phx_gen_auth/blob/3ed8ce9655ec07047445588808db028e5bfba01c/priv/templates/phx.gen.auth/test_cases.exs#L15

---

`get_user_by_reset_password_token/2` (should be /1)
https://gith

[2020-07-28 13:20] aaronrenner commented on #59
@liamwhite Thanks for catching this! A PR would definitely be appreciated!

[2020-07-28 13:54] liamwhite opened #60 "Acronym for URL should be capitalized in notifier template"
https://github.com/aaronrenner/phx_gen_auth/blob/3ed8ce9655ec07047445588808db028e5bfba01c/priv/templates/phx.gen.auth/notifier.ex#L24
https://github.com/aaronrenner/phx_gen_auth/blob/3ed8ce9655ec07047445588808db028e5bfba01c/priv/templates/phx.gen.auth/notifier.ex#L44
https://github.com/aaronrenner/phx_gen_auth/blob/3ed8ce9655ec07047445588808db028e5bfba01c/priv/templates/phx.gen.auth/notifier.ex#L6

[2020-07-28 14:16] zorn commented on #55
Thanks for the perspective. 👍

[2020-07-29 19:42] #59 closed, assigned to nobody

[2020-07-30 03:17] BryanJBryce opened #64 "API Authentication"
Is API authentication within the scope of this project or is it a non-goal?

[2020-07-30 05:43] josevalim commented on #64
It is not a goal because the scope of decisions that can be made there is much bigger. Things like using JSON API, GraphQL, if you should use the session or not, etc.

[2020-07-30 05:43] #64 closed, assigned to nobody

[2020-07-30 06:05] #60 closed, assigned to nobody

[2020-07-31 03:54] liamwhite opened #65 "Rationale for not hashing all stored tokens"
The generator creates two functions along the lines of the following (copying from my app's source code):
[code]
I am curious as to why the decision was made not to simply hash the token stored in the database in all cases. There does not appear to be any concrete downside to doing so, as the tokens never need to be reconstructed by the application.

[2020-07-31 07:15] josevalim commented on #65
You are welcome to make the change yourself. But since the session itself is signed (and often also persisted in the database), it is not really necessary to hash that.

[2020-07-31 07:15] #65 closed, assigned to nobody

[2020-08-01 14:04] paulstatezny opened #66 "Invite-Only Applications (No public registration)"
Thanks so much for this library! Really great stuff. ❤️

I'm wondering, do you have any specific recommendations for modifying the generated code for an application that _doesn't_ have public registration? That is, an application where you set up "administrators" to start off, and then from that point on the way that users join is by invitation. This would be typical of an application used by a bu

[2020-08-01 18:33] josevalim commented on #66
Hi @paulstatezny! Glad you are enjoying! My suggestion is to ask this question on the elixir forum in case someone has already tried an approach similar to the one you propose and can give you concrete pointers. :) Good luck!

[2020-08-01 18:33] #66 closed, assigned to nobody

[2020-08-02 04:19] BryanJBryce commented on #64
Thanks for the clarification

[2020-08-20 06:15] warsus opened #69 "Bug in test.exs injection with windows newlines"
Hi, cool project!

I ran this on windows and got  Mix.raise(~s[Could not find "use Mix.Config" or "import Config" in #{inspect(file)}]) even though my test.exs has the former. I suppose because it is "use Mix.Config\r\n" in my case which will not match "use Mix.Config\n".

[2020-08-20 13:36] aaronrenner commented on #69
@warsus Thanks for reporting this! It took a little work to recreate, but I see the issue.

It seems like a fix for this should include an integration test that changes the line endings on the entire phoenix app before running the generator. This test would probably go in `test/mix/tasks/phx_gen_auth/integration_tests/default_app_test.exs` and look something like this:

[code]

I appreciate your P

[2020-08-20 19:33] owenstrevor opened #71 "Delete User function?"
I'm looking through the Accounts context and I don't see a function to delete the user.

I noticed the migration for the user_tokens table has cascade deletion on it, which is good, just want to make sure I'm not messing anything up by manually deleting users or writing my own simple function for this.

[2020-08-20 22:25] josevalim commented on #71
There is no user function because deleting a user can become complex (and sometimes plain undesired) but if you are just starting out there should be no surprises. :)

[2020-08-20 22:25] #71 closed, assigned to nobody

[2020-08-25 05:03] petejodo opened #72 "Typespec issue with user_token schema"
This is probably an error on my part but I'm not sure what it could be.

I tried adding typespecs to some of the functions created by the generator and I'm getting a warning from dialyzer that I just can't seem to figure out why it's occurring. I generated the files by using the example in the readme i.e. `mix phx.gen.auth Accounts User users` and then added the following:

**user.ex**
[code]

**u

[2020-08-25 06:10] josevalim commented on #72
Looking at the code, it seems you should have tagged `inserted_at` as being possibly `nil` too. I am not a heavy Dialyzer though, so I recommend using the ElixirForum if you have more questions around this. :)

[2020-08-25 06:10] #72 closed, assigned to nobody

[2020-08-25 20:21] warsus commented on #69
@aaronrenner
That seems to be a thorough approach to this issue. I'm a little bit busy right now, so don't feel hindered by my pull request if you get the chance to work on this. For me personally a quick fix for this bug would be good as i'm not so picky about my newline style. :)
I found this slightly related issue for gofmt an interesting read: [https://github.com/golang/go/issues/16355](https:

[2020-08-26 18:39] owenstrevor opened #73 "MatchError at POST /users/register - no match of right hand side value: :ok"
Hello, I just setup UserNotifier.ex to work with Sendgrid and now I'm getting this error.

[code]

The error is with the 4th line of the above, `{:ok, _} =`

User Notifier has been working fine for Password Reset emails.

[code]

The IO.inspect returns `:ok`

[2020-08-26 19:05] aaronrenner commented on #73
Sorry to hear you're running into issues. It's tough to troubleshoot without seeing your `UserNotifier` module, so this feedback will just be general.

The idea is that you should be able replace the body of [`UserNotifier.deliver/2`](https://github.com/aaronrenner/phx_gen_auth_output/blob/v0.4.0/lib/demo/accounts/user_notifier.ex#L8-L12) with whatever you need to send the email and as long as it

[2020-08-27 13:09] owenstrevor commented on #73
Thank you Aaron for the thoughtful response. This provided me some help with finding the fix. The helpful folks on the Elixir slack also helped.

Just needed to chain this at the end of the deliver function

[code]

[2020-08-27 13:09] #73 closed, assigned to nobody

[2020-09-03 13:25] #69 closed, assigned to nobody

[2020-09-06 05:47] liamwhite opened #75 "Slow recompilation in development"
Importing the UserAuth module into the router in development causes very minor changes to the application to end up recompiling the router. This is very slow.

Performance after `touch lib/philomena/users.ex`:
[code]
A small set of changes causes development recompilation performance to return to normal:
[code]

The added plugs simply call the relevant function in the UserAuth module.

Performance

[2020-09-06 09:22] josevalim commented on #75
This is much improved in Elixir v1.11, which no longer treats imports as compile-time dependencies. Since v1.11 will be out soon, I propose to keep things as is, thanks! :)

[2020-09-06 09:22] #75 closed, assigned to nobody

[2020-09-06 14:55] liamwhite commented on #75
Okay, good to know!

[2020-09-07 11:37] LostKobrakai opened #76 "remember me cookie based on app name"
The default name for the session cookie in phoenix is based on the name of the app and it makes it easy for multiple local projects to all run at `localhost:4000` without cookies getting mixed up. I'm wondering if it would make sense to do the same for the remember me cookie?

[2020-09-07 11:59] josevalim commented on #76
@LostKobrakai definitely, PR please!

[2020-09-08 11:38] josevalim opened #78 "Improve user experience on confirmation messages"
Those are changes I have applied based on production feedback of the confirmation system. Also, because sometimes e-mail clients may accidentally preview the confirmation link, showing an error message for the cases the user is already logged in can be confusing, so we skip that too.

[code]

I am submitting them because they are probably worth incorporating here too!

[2020-09-08 21:11] aaronrenner commented on #78
Thanks, @josevalim! It's awesome to get to incorporate feedback from production systems back into the generators.

I'm going to tag it as "Good first issue" for a few days in case someone wants to submit a PR for it. Otherwise I'll be happy to pick it up.

[2020-09-09 12:14] #76 closed, assigned to nobody

[2020-09-10 21:02] aaronrenner commented on #78
Fixed by #79.

[2020-09-10 21:02] #78 closed, assigned to nobody

[2020-09-12 00:18] mcelaney opened #80 "Mix.Tasks.Phx.Gen.Context.build/2 is undefined"
Elixir 1.10.4
Erlang/OTP 23
Phoenix 1.5.4

Installed Phoenix, credo, and dialyxir

Added `{:phx_gen_auth, "~> 0.5", only: [:dev], runtime: false}` to mix.exs... then ran in to the following exception.

[code]

`mix phx.gen.context Accounts User users name:string` works fine... so I'm not sure what's going on here...

[2020-09-12 01:43] mcelaney commented on #80
Dropping to Elixir 1.10.2 to run the task and then back to elixir 1.10.4 got me past it...

[2020-09-12 04:16] aaronrenner commented on #80
@mcelaney I wasn't able to recreate the issue locally, but I wonder if somehow a version of phoenix <1.5.2 has gotten into your path. This PR (https://github.com/phoenixframework/phoenix/pull/3737) created the `build/2` function your system appears to be missing and was released in phoenix 1.5.2. I'd be curious what the output of `mix archives` is when using your elixir 1.10.4 and 1.10.2 installs.

[2020-09-12 21:18] mcelaney commented on #80
Ah that let me see the problem... in 1.10.4 I had the phx_gen_auth-0.5.0 archive which was causing issues. I had loaded it while trying to run the tests on the library... was thinking of sending a PRs to add @spec statements and gettext for all the strings (which I ended up unfortunately bailing on due to time... but if there is interest I can circle back)

Removing that clears the issue.

[2020-09-12 22:00] aaronrenner commented on #80
Glad to hear this works! `phx_gen_auth` isn't meant to be installed as an archive, so I'm not sure if that caused the issue. I'm going to close this issue, since it sounds like its fixed.

Regarding the specs and gettext PRs, phx_gen_auth needs to stay consistent with the rest of the phoenix generators. The generators don't use specs, so we won't be adding them here either. I'm less familiar with

[2020-09-12 22:00] #80 closed, assigned to nobody

[2020-09-12 22:48] mcelaney commented on #80
Yea - that's part of why I decided not to take the time.  I'll probably maintain a fork that has it - takes a couple hours to lock it all down if you're a dialyxir enthusiast who does a lot of localized projects ;)

[2020-09-21 13:09] thepratt opened #83 "Newlines generated in session token"
https://github.com/aaronrenner/phx_gen_auth/blob/0772ec8054ebd05391f57c6d1511817f44ba6952/priv/templates/phx.gen.auth/schema_token.ex#L32

I've pinpointed the above as causing the following error to emerge when attempting to authorise with a cookie:
[code]
Note: 10 is a newline byte.

For my own project, I've amended this to base64 before passing the value along. I'd want to open a discussion for

[2020-09-21 13:20] josevalim commented on #83
The default session store is cookie-based, which means this value gets signed and base64d by the session store. If you are storing this value by hand, then yes, you must encode it. But i would recommend keeping the cookie store since the cookie store + database lookups gives you the best of both words: i.e. it is not easy to temper and it can still be expired server side.

[2020-09-21 13:21] josevalim commented on #83
Also, if you are not signing it and keeping it directly in the cookie, then you are also opening yourself up to timing attacks, so I would recommend to stick with the structure generated by mix phx.gen.auth.

[2020-09-21 23:16] thepratt commented on #83
That makes sense.

I do have signing enabled for the application itself, however, it's disabled in testing. During tests is the only case that I've experienced the above error.

[2020-09-22 05:43] josevalim commented on #83
Yes, so please don't disable signing. If you do, then explicitly encode it. :)

[2020-09-22 05:43] #83 closed, assigned to nobody

[2020-09-22 10:04] thepratt commented on #83
Thanks for your help @josevalim , I'll continue down the route of keeping signing on regardless of the environment - tests in this instance.

As my Phoenix application is an API, I only have a cookie and not a session to pass around. Having signing enabled for tests resulted in a different error due to secret_key_base not being picked up by a test session, but this is something else I'd need to wo

[2020-09-22 11:31] josevalim opened #84 "Improve coverage for user return to"
I accidentally broke the user_return_to implementation and I was not able to find this mistake for a couple weeks, so I suggest adding this controller test to help avoid others accidentally breaking it too:

    # user_session_controller_test
    test "logs the user in with return to", %{conn: conn, user: user} do
      conn =
        conn
        |> init_test_session(user_return_to: "/foo/bar")

[2020-09-22 14:50] #84 closed, assigned to aaronrenner

[2020-09-22 15:05] josevalim commented on #84
:green_heart: :blue_heart: :purple_heart: :yellow_heart: :heart:

[2020-09-29 22:39] rafaelfess opened #85 "Is it MySQL compatible?"
Just ran into an issue trying out the generator with TiDB (a MySQL compatible database - [TiDB is fully compatible with the MySQL 5.7 protocol](https://docs.pingcap.com/tidb/stable/mysql-compatibility)).

I've not found MySQL documentation for `citext`, only [for PostgreSQL](https://www.postgresql.org/docs/12/citext.html). So I was wondering if it isn't compatible with a MySQL database because of

[2020-09-29 23:14] aaronrenner commented on #85
Hi @rafaelfesi! PhxGenAuth is compatible with MySQL and it's tested as part of our integration tests here: https://github.com/aaronrenner/phx_gen_auth/blob/master/test/mix/tasks/phx_gen_auth/integration_tests/mysql_app_test.exs

Citext is a postgres only extension and shouldn't have been generated in your migrations. It seems like Postgres was the active adapter when the generator was run (either

[2020-09-30 06:08] josevalim commented on #85
Closing per the above. :)

[2020-09-30 06:08] #85 closed, assigned to nobody

[2020-10-15 20:37] axelson opened #87 "Don't hash the password while keeping a database transaction open"
Currently the `hash_password` function is called in a `prepare_changes` block. This means that the password hashing function will run while keeping a database transaction open. I can understand this sometimes being desirable/intentional as the [0.2.0 changelog](https://github.com/aaronrenner/phx_gen_auth/blob/0772ec8054ebd05391f57c6d1511817f44ba6952/CHANGELOG.md#v020-2020-04-28) says:

I think tha

[2020-10-15 20:50] josevalim commented on #87
Good point. I think we should move it out of prepare_changes but make it the last step in our pipeline and only do so if our changeset is valid.

The move to prepare_changes was for convenience purposes after all.

[2020-10-16 04:36] altdsoy opened #88 "[Suggestion] Add the 0.5.0 tag in git to the actual 0.5.0 release (f21ef29)"
Hello all,

Usually I look in the tag tab of the branch select input to see the latest version of a package (of it not appears immediately elsewhere on the repo home page) or when I'm not looking in hex.pm.

Anyway it's good to see new release of the package.. :+1:

[2020-10-16 13:10] aaronrenner commented on #88
Thanks for pointing this out! Looks like I had created it locally and forgotten to push it. 😅

The `v0.5.0` tag has been pushed. 👍

[2020-10-16 13:10] #88 closed, assigned to nobody

[2020-10-23 05:30] liamwhite commented on #75
Confirming that this is fixed in 1.11.

[2020-10-30 13:22] ruudk opened #89 "Case sensitiveness"
First of all, thanks for this amazing generator. Great work 🙌

I was wondering why the case sensitiveness is handed off to the database layer instead of handling this in the application. In my opinion it would be better to always lowercase the username (email) before persisting it in the database. The same should be done every time the database is queried. First lowercase in the application and th

[2020-10-30 15:21] josevalim commented on #89
Sorry but I don't see how this is related to downcasing. Even if we downcased it in the app, the database will handle collation differently, which means you will still have a difference in behaviour.

Because it is much easier to do it at the database level. It is two lines of code. If you do it in the app, you need to downcase when you insert, when you run queries, etc... probably by implementing

[2020-10-30 16:35] josevalim commented on #89
Oh, and thank you for the nice words and the discussion! :heart:

[2020-10-31 04:47] joaothallis opened #90 "Error compiling the project"
There are some prerequirement to compile the code?

Steps to reproduce the problem:

[code]

I already tried with `mix deps.compile phx_new"`, `mix deps.update phx_new` and `mix deps.clean phx_new`

[code]

[2020-10-31 08:25] josevalim commented on #90
`mix archive.uninstall phx_new` and you should be good to go!

[2020-10-31 08:32] josevalim commented on #90
Alternatively phx_gen_auth can add this to its mix.exs file:

[code]

But this problem will also be solved once we merge it into Phoenix. :)

[2020-10-31 17:40] joaothallis commented on #90
Another option is to use `MIX_ENV=prod mix compile`

[2020-10-31 17:40] #90 closed, assigned to nobody

[2020-11-08 08:09] josevalim commented on #89
Closing this as it has stalled.

[2020-11-08 08:09] #89 closed, assigned to nobody

[2020-11-08 08:11] josevalim commented on #87
This is the change I did in my project, all tests pass:

[code]

[2020-11-08 08:13] josevalim opened #91 "Use redact: true from Ecto v3.5 instead of deriving inspect"
Here is the diff:

[code]

However, this requires Ecto v3.5, so I would only do these changes after the generator is merged into Phoenix. I have already bumped Phoenix master to require v3.5.

[2020-11-10 05:24] dabaer opened #92 "Rationale for `citext` requirement with Postgres"
I was reviewing the guides for using this project, and noticed that it currently require the `citext` extension when using the Postgresql DBMS. I was curious on the rationale behind this (and I do see there is a slightly similar issue that was closed as stalled) so I wanted to bring it up again for discussion.

According to the documentation for `citext` i see it notes the following as a potential

[2020-11-10 06:47] josevalim commented on #92
Thanks for the issue. I am using the [official docs](https://www.postgresql.org/docs/current/citext.html) as reference here.

To be clear, this downside is a downside of using *lower*, not citext.

All of the caveats mentioned in the Postgres page above. Also note citext is an official extension that ships with PG.

The docs do not mention it as being deprecated. Can you please provide further ref

[2020-11-10 06:47] #92 closed, assigned to nobody

[2020-11-10 07:23] cohawk commented on #92
As a user of CockroachDB in PROD and PostgreSQL in dev, I am going to chime in here after I’ve seen a few related issue requests have come and go.  And even if Citext is still actively maintained (I don’t see any mention otherwise) - it does bring up another potential point of future proof.

For the community as a whole I think for someone just starting out learning Elixir / Pheonix - installing a

[2020-11-10 07:29] josevalim commented on #92
Hi @cohawk!

The citext extension ships as part of PG. You don't have to install it. The only command you need to run is `create extension citext` and that is done as part of migrations. Therefore which complexities or point of failures am I missing?

[2020-11-10 07:40] cohawk commented on #92
Hi Jose.  I didn’t mean to comment after the issue was closed and you well explained the Unicode hurdle (which doesn’t apply to my internal EN only tools).

Yes, it is one command in the migrations.  An additional command for the dockerfile setup (which yeah majority are not using).

I was just pointing out that one additional command could sometimes trip people up at the start, and maybe cause co

[2020-11-10 07:56] josevalim commented on #92
Postgres started to bundle contrib as part of its default distribution from postgresql-10 in its official packages. That includes Ubuntu and Debian. Homebrew also includes it as well as the official Windows binaries. Which OS are you using that requires an extra command in your Dockerfile? It would be good to know to note it in the docs.

Btw, my concern with moving in this direction is that I leg

[2020-11-10 08:23] cohawk commented on #92
I’m probably wasting your time here, but thanks for the discussion.

Edge case scenario, requirements of everything built from local repos on Gentoo.
But I thought on my dev env Ubuntu I had to specifically install the extension.  Appears I mixed the 2 up since it’s not in my container code.

I’m not using a supported database, so again apologize for wasting your time.

But I had meant not using l

[2020-11-10 08:33] josevalim commented on #92
You definitely are not. I want to hear about the corner cases. :)

Oh, it is not supported in CockroachDB! Hrm... the pure Elixir solution is not that complicated either.  I would define an Ecto type named `MyApp.Email`. It needs to implement both cast and dump functions to downcase:

[code]

And now you use `MyApp.Email` instead of the `:string` type for the e-mail field. But again, it does feel

[2020-11-10 08:52] cohawk commented on #92
And that’s much better looking that where I blasted String.downcase in my contexts and changesets.

I don’t want the database to do anything more than it’s already doing.  Just mostly a generalization I’ve accumulated from working with DBAs.  It might even be more performant for the DB to handle in this use case.  I’ve just also always questioned the dependency (esp since it caused myself more wor

[2020-11-10 17:33] dabaer commented on #92
Thank you for the response Jose. That cleared up a few misconceptions I had about both lower and citext.

As a downside of lower, yes. But I was mainly mentioning that the stated downside is incorrect as I understand it. I use lower() inside of a unique index, and it properly raises when attempting to insert `AAAAA` into the database when a record `aaaaa` already exists. Though I may misunderstand

[2020-11-12 15:11] dbi1 opened #94 "(RuntimeError) could not compile application"
Hi again,

after installing `make` I successfully installed / ran the auth generator, and have been playing around with the auth functionality via the UI.

I successfully registered a user and changed the associated email address. Then, after letting the page sit for a while I came back to it, tried to change the email address again (if I remember correctly), and got the following error:

[code]

[2020-11-12 15:16] aaronrenner commented on #94
If your server was running while you ran the generator, that is to be expected. `phx.gen.auth` injects some dependencies in your project's `mix.exs` file, which requires the phoenix server to be restarted before a page can be loaded again.

[2020-11-12 15:17] dbi1 commented on #94
Hmm, oddly I wasn't doing anything. I ran the generator before I started the server, but pretty sure not while it was running...

[2020-11-12 15:24] dbi1 commented on #94
The last thing it shows in the Phoenix server log before showing the above error was a successful query:

[code]

[2020-11-13 15:38] dbi1 opened #95 "no route found for GET /users/settings/update_email"
Hi,

If I try to change the email address on the "Settings" page to the same email address as it is now (or use an invalid password), I get an error message ("Oops, something went wrong! Please check the errors below."), which is good.

The page returning the error message has the following URL:
http://somedomain/users/settings/update_email

However, there are two errors one can cause while on thi

[2020-11-13 15:48] dbi1 commented on #95
Similar behavior for changing the password on the Settings page:

Page reload (while being logged in) brings up `"no route found for GET /users/settings/update_password (MyAppWeb.Router)"`

Page reload (while being logged out) also brings up the `"no route found"` error, rather than the `Plug.CSRFProtection.InvalidCSRFTokenError` we saw above in scenario b).

[2020-11-13 16:11] josevalim commented on #95
Yes, this is unfortunately common for many applications that follow the "REST" URL schema.

I think one solution here is to have both POST to /users/settings and we can use a hidden field to say which operation we want to perform (email or password update), and then we collapse the actions in the controller into a single one with pattern matching.

What do you think @aaronrenner?

[2020-11-13 16:12] josevalim commented on #94
The error is correct. You have to restart the server if you or anything touched the mix.exs file.

[2020-11-13 16:12] #94 closed, assigned to nobody

[2020-11-14 16:17] aaronrenner opened #96 "User_return_to test breaks on phoenix master"
I'm getting the following test failure in `user_auth_test.exs` when running on phoenix master.

[code]

Here is the test in question:
[code]

It appears this issue is caused by this recent commit to phoenix: https://github.com/phoenixframework/phoenix/commit/44a8d90ced173d6083579266e528cdb3281677c6. Phoenix's `current_url/1` is now looking at `script_name` + `path_info` instead of `request_path`,

[2020-11-14 16:46] aaronrenner commented on #95
That sounds reasonable. I'm happy to work up a PR for that.

[2020-11-14 17:13] josevalim commented on #96
Ah, good call. You can use `build_conn(:get, "/this/is/a/path")` which ships with `Phoenix.ConnTest`. WDYT?

[2020-11-14 17:36] aaronrenner commented on #96
I actually tried that, but then I get the following error:

[code]

If I add `fetch_session/1` to the pipeline,
[code]
it then says:
[code]

I also tried to use `bypass_through/3` since the endpoint has a session configuration in it and the `:browser` pipeline has a `:fetch_session` plug in it, .

[code]
but I still get the same error
[code]

I'm sure there's some combination of these functions I

[2020-11-14 17:43] josevalim commented on #96
You need to call the same functions in setup (set secret_key_base and plug_init_session): https://github.com/aaronrenner/phx_gen_auth/blob/master/priv/templates/phx.gen.auth/auth_test.exs#L13-L14 but then i am not sure if it is worth it. I think it is easier to just set `path_info` (prefer `path_info` instead of `script_name`).

[2020-11-15 06:13] dbi1 commented on #95
Thank you @josevalim and @aaronrenner!

[2020-11-15 06:14] dbi1 commented on #94
Got it, thank you!

[2020-11-15 10:34] dealloc opened #97 "Consider using Argon2 instead of Bcrypt"
Currently passwords are hashed using bcrypt, but we could consider switching to Argon2 (using the [argon2_elixir](https://hexdocs.pm/argon2_elixir/Argon2.html) package).
OWASP recommends Argon2 in it's [modern algorithms](https://cheatsheetseries.owasp.org/cheatsheets/Password_Storage_Cheat_Sheet.html#modern-algorithms), though it notes that when the knowledge to properly tune the parameters is ab

[2020-11-15 10:51] #97 closed, assigned to nobody

[2020-11-22 16:25] samu opened #98 "Account Enumeration Vulnerability"
The `UserRegistrationController` is vulnerable to the account enumeration vulnerability, as describe in [this OWASP article](https://owasp.org/www-project-web-security-testing-guide/latest/4-Web_Application_Security_Testing/03-Identity_Management_Testing/04-Testing_for_Account_Enumeration_and_Guessable_User_Account). If we try to create a user with an email which already exists, we will see the re

[2020-11-22 16:35] josevalim commented on #98
The guides outline this: https://github.com/aaronrenner/phx_gen_auth/blob/a6be7e5f0f5e244b0de0561b256b4774549d2a1b/guides/overview.md#enumeration-attacks

The reason why we do it for almost everything is because it is much easier for you, as the user, to close two holes than all of them. After all, it is most likely you will customize the signup and update workflows anyway, while the other ones ar

[2020-11-22 16:35] #98 closed, assigned to nobody

[2020-11-23 13:33] samu commented on #98
I'm not sure if i fully understand the reasoning here. Wouldn't it be easier to add the extra logic of filtering out the email uniqueness constraint validation error and returning success if that's the only error, and if somebody doesn't like that behaviour, they can simply remove the relevant code? Removing the code is easy - however, being aware of this vulnerability is hard, so in my opinion it

[2020-11-23 13:46] josevalim commented on #98
Well, if the user tries to sign up and the user is already on the system, what do you do? Maybe you say, well, log the user in. But you can only do that if the password is the same. If the password is not the same, you can't log them in, and by simply not logging someone in as part of what is seemingly a valid sign up, you would leak they are in the system. So the only solution is to never sign ev

[2020-11-23 15:26] samu commented on #98
Right, i see. Since we want to sign in the user right after sign-up, we have no other choice than telling him if it was successful or not. Thanks for the explanation.

[2020-11-23 19:41] aaronrenner commented on #87
@josevalim Thanks for posting these changes you made. One thing I've been thinking about is these change hash the password and clear the password field every time this changeset function is run. If we were to use this changeset with a LiveView-based form, every time the user enters a valid password I believe it would disappear on the next keystroke. Instead, I'm thinking we only want to hash the p

[2020-11-23 22:15] josevalim commented on #87
I love it, awesome job! :heart: My only nitpick is to indent the options list with two spaces, to follow markdown. :)

[2020-11-24 06:42] #87 closed, assigned to aaronrenner

[2020-11-24 15:11] aaronrenner commented on #95
@josevalim Here's the diff I am thinking of for this one.

https://github.com/aaronrenner/phx_gen_auth_playground/commit/c5e72abd6b38deeaeb315f87b1fbb2e12e37bf9d

A few things to note:

1. There are now two update function heads that pattern match on an `"action"` parameter to determine which form is being submitted. Unfortunately this makes the function head too long and the formatter requires it

[2020-11-24 17:42] josevalim commented on #95
@aaronrenner I think everything is great! Regarding 1, I think multi-line function head is OK, if you'd rather not to, then I would do this:

    def update(conn, %{"action" => "update_password"} = params) do
      %{"current_password" => password, "user" => user_params} = params

I actually prefer that in multi-clauses because it makes it clear which parameter is being used for branching.

[2020-11-24 18:46] aaronrenner commented on #95
I like that approach too! I'll update the generators accordingly.

[2020-11-25 01:24] #95 closed, assigned to aaronrenner

[2020-11-25 21:08] samu opened #99 "Don't redirect in UserAuth.log_in_user"
The standard `UserSessionController.create` looks like this:

[code]

I wanted to create a log-in endpoint which can be used to log in via an Ajax request. The main difference would be that it doesn't redirect and instead returns a `200` status code and a JSON compatible payload:

[code]

The problem is, that `UserAuth.log_in_user` does a `redirect` right at the end of it's processing:

[code]

No

[2020-11-25 21:20] josevalim commented on #99
This is tricky because for some APIs, you won’t even use the session but just return the token, so you would reuse very little of this function.

So generally speaking we prefer to keep the code simple rather than prepare it for all possible scenarios, because there are just too many to predict. Thanks!

[2020-11-25 21:20] #99 closed, assigned to nobody

[2020-11-26 15:16] aaronrenner commented on #96
Fixed on phoenix master in https://github.com/phoenixframework/phoenix/pull/4077

[2020-11-26 15:16] #96 closed, assigned to nobody

[2020-12-04 11:31] chargio opened #100 "Create tests that are adaptable"
When you create a new user model and use the standard tests, you get 97 errors, as many of the test only set up email and password, and then fail in any other validation of the model. Modifying the fixture does not help, because tests are hardcoded to only use email and password.

I have been able to fix many of the uses modifying the tests, to create a full user using user_fixture(), and then mod

[2020-12-04 11:47] josevalim commented on #100
@chargio can you please send a diff showing how you changed one or two tests, so your proposal is clearer to us? Thank you.

[2020-12-04 12:05] chargio commented on #100
when applicable:

[code]

And then

[code]

The result is the same if only email and password are part of the struct, but it will be valid if the struct is more complex

[2020-12-04 12:06] chargio commented on #100
I would make a PR but I am learning Elixir and Phoenix and it would take me long.

Of course, you need to manually update some tests, but that is ok because they are testing your User struct
[code]

[2020-12-04 12:24] chargio commented on #100
And lastly

[code]

Where the different calls are functions that will generate a valid field (so I can use Fake or equivalent to make better tests)

[2020-12-04 12:35] josevalim commented on #100
I see. Maybe a better option here is to generate a `valid_user_attributes` function as part of the fixtures and use it when testing the `register_user` functions. WDYT @aaronrenner ?

[2020-12-04 12:40] chargio commented on #100
I agree, I've viewed the register_user and understood why the register was complaining about duplicated email

[2020-12-05 08:57] chargio commented on #100
Created a working version of that like this:

[code]
And the only test that was failing now becomes:

[code]

[2020-12-07 03:54] aaronrenner commented on #91
Closing in favor of https://github.com/phoenixframework/phoenix/pull/4092 on phoenix master.

[2020-12-07 03:54] #91 closed, assigned to nobody

[2020-12-14 08:22] njwest opened #103 "hashed_password assigned to Conn"
Thanks for this really great, robust auth solution generator! Am loving using it for Phoenix session auth.

I am a bit uneasy with how the default auth behavior assigns  `hashed_password` to `conn` in `UserAuth`'s  `fetch_current_user` function, via `verify_session_token_query/1` (`~/lib/my_app/accounts/user_token.ex`):

[code]

I'm removing this in my own codebase by just selecting what I need fr

[2020-12-14 09:11] josevalim commented on #103
Hi @njwest! It is not a problem to put it in the connection. After all, the connection has other confidential information, such as secret_key_base and similar. The reason that's ok is because the connection only lives during the scope of the request and is discarded afterwards. It is not shared with the client nor anything else.

However, there is nothing wrong with your changes either. So it is u

[2020-12-14 09:11] #103 closed, assigned to nobody

[2020-12-15 02:32] njwest commented on #103
Thanks, @josevalim ! My main concern is a developer not realizing that there is sensitive info in `conn.assigns[:current_user]` and irresponsibly passing the entire current_user record to the frontend, but I suppose it is up to the developer to code responsibly

[2020-12-30 07:32] oliverandrich opened #104 "Wouldn't gettext integration be a good idea?"
Is there be any downside, if phx_gen_auth would directly use gettext? All my current projects have to support English and German and in all of them I added i18n manually after running "mix phx.gen.auth".

[2020-12-30 07:45] josevalim commented on #104
It is something you can add manually, we keep the amount of markup to a minimum so it is not that much work. The reason we don't do it by default is that then everyone would have to remove it, if they don't need it, and I assume most people don't actually need it, and an option would be too complex.

[2020-12-30 07:45] #104 closed, assigned to nobody

[2020-12-30 08:01] oliverandrich commented on #104
Thanks for the quick response. From a very English minded view, you are absolutely correct. I have to review my process because currently, I have to do about 40 manual changes in templates, controllers and so on. And I tend to forget locations. ;)

[2020-12-30 08:05] josevalim commented on #104
It is not even about English per se. If I am doing a website in portuguese, I would simply rewrite the english to portuguese but without using gettext. :)

[2021-01-08 04:11] sebasortiz-dev opened #105 "Add support to timestamps with UTC"
In the current generator all timestamps are ecto default naive_datetime. I would be useful if another parameter, similar a --binary-id is added to support DateTime and :utc_datetime_usec  as type for timestamps.

[2021-01-08 07:27] josevalim commented on #105
@aaronrenner what do you think? If you think it is a good idea, we can probably accept a pull request that adds this to Phoenix directly (since the generators have been merged).

[2021-01-09 07:03] ajstrand opened #106 "Is phx_gen_auth suitable for an API for a Javascript SPA?"
Hi,
First off, thanks for the great work on this project.
It's made auth very simple for a project I'm working on.

I'm very new to phoenix, working on an example app.
I've generated the basic auth files into my phoenix app and this library works great for basic auth tasks(like creating users).

However, I've got Preact app that's running most of the business logic in my app and I'm trying to acce

[2021-01-09 15:27] aaronrenner commented on #105
@sebasortiz-dev Thanks for bringing this up! I think this is a good idea, but should be solved at the phoenix level first so all code generators can benefit.

I think this would be similar to the `--binary-id` flag on `phx.new` where a `--timestamp-type utc_datetime_usec` sets a config value like this.

[code]

Then when schemas are generated the generator would add `@timestamp_opts` to the schema

[2021-01-10 05:03] aaronrenner commented on #100
@chargio Thanks for reporting this. Sorry it's taken a while for me to get to this, but I wanted to let you know I'm starting to look into it.

[2021-01-10 06:54] aaronrenner commented on #106
Phx.gen.auth is absolutely suitable for an API for a Javascript SPA, but it might take a little customizing. It's set up to do session authentication out of the box, so if you're just starting out it would be simplest to use phx.gen.auth's HTML forms for authentication and then render your SPA once the user is authenticated.

If you generated your API using `phx.gen.json`, you'll have to open up y

[2021-01-10 08:34] rafaelfess commented on #105
I've always wondered why UTC is not the default for timestamps.

[2021-01-10 08:40] josevalim commented on #105
@aaronrenner I like your solution!

@rafaelfesi originally there was not a lot you could do with DateTime in Elixir, NaiveDateTime were more powerful, so they were picked as default. In practice, given that Ecto requires the database to be UTC, they end-up being pretty much the same. Then you can upgrade to DateTime only when you effectively want to work with timezones.

[2021-01-12 08:09] ajstrand commented on #106
Hi, so I followed a similar approach to what you outlined and I was able to pass back the current user to my SPA.

I had a follow up question that I'm not sure if the documentation answered.

Is there a way I could pass the user token/session cookie securely to my SPA so I would be able make a POST request with some data?

I didnt see a CSRF token in my browser at all, so I resorted to grabbing th

[2021-01-12 08:12] josevalim commented on #106
@ajstrand the CSRF token is in a meta tag: https://github.com/phoenixframework/phoenix/blob/ea10baae82a9b849b9b4b4c1977dcfc344662863/installer/templates/phx_live/templates/layout/root.html.leex#L7

You can pick it up like this: https://github.com/phoenixframework/phoenix/blob/ea10baae82a9b849b9b4b4c1977dcfc344662863/installer/templates/phx_assets/app.js#L20-L21

[2021-01-13 00:33] ajstrand commented on #106
@josevalim thanks so much for answering that question! I dont think my default phoenix application had a `root.html.leex` file since I'm not using Live View. So that might have been why I couldnt find the csrf meta tag. I'll go ahead and close this issue now.

Edit: just confirmed that the csrf token worked to post some data using the steps provided.

If either of you think documentation for using

[2021-01-13 00:33] #106 closed, assigned to nobody

[2021-01-14 22:05] sebasortiz-dev commented on #105
@josevalim @aaronrenner Awesome, thanks for taking the time to discuss this. I will try to make a PR with the solution you proposed. Will link the issue / PR from the Phoenix project.

[2021-01-15 08:40] ray-sh opened #107 "Is there plan to support JWT auth?"
The current gen_auth is great.
Is there plan to support JWT auth? Since lots of people use phoenix as REST API layer.

[2021-01-15 08:55] josevalim commented on #107
No, it is something you can change accordingly though. Hopefully we will soon see guides on how to change our authentication to JWT or similar (if nobody has yet).

[2021-01-15 08:55] #107 closed, assigned to nobody

[2021-01-19 05:42] aaronrenner commented on #100
@chargio I just added a new field in a test app and here are the changes I needed to make.
[code]
Since every test except for the `UserRegistrationControllerTest` asserts all values are set as expected, I'm not really sure what we'd be gaining by adding a `valid_user_attributes/1` function.

I'll continue thinking about what approach we should take when adding fields to the user model. Please let

[2021-01-19 08:05] chargio commented on #100
I agree with you that your way of doing things work but:
- As a new user, I get 90 errors if I add a name to a user because every test that supposes that the only valid fields are user and password will fail. It is not only to create the fixture, but on user registration you are hardcoding the fields needed, user and password, while my model has 7.
- I needed to perform a code review to understand

[2021-02-04 00:37] roryqueue opened #111 "Comment after final "end" in router.ex slightly breaks code injection"
Hey Aaron and all, thanks for all your work. I'm using the this generator for the first time and I noticed something minor-- I had a comment at the end of my router file (for a dumb reason), which caused it the final "end" in the router module to be duplicated instead of replaced, which subsequently caused the generated code to fail to compile on first try.

The relevant generation code is [here](

[2021-02-08 13:41] aaronrenner commented on #111
@roryqueue Thanks for reporting this issue! I haven't heard of this problem before, but it makes sense that it would happen.

I think this is something I'm not going to fix at this time because the `inject_before_final_end/2` function is a pattern that's borrowed from the rest of the Phoenix generators and I'd like to maintain consistency with them. If we were to address this issue, it should be s

[2021-02-09 17:36] #111 closed, assigned to nobody

[2021-02-14 17:07] iantbutler01 opened #112 "Feature Request: Depend on ecto "ecto_repos" config to find Repo."
Right now we are unable to generate auth templates because we use a Repo in one of our umbrella apps as the Repo for our main phoenix application.

This is our config:

[code]

Where as from looking through the library it looks like you depend on finding the Repo file in the application itself.

[2021-02-14 17:51] josevalim commented on #112
Do you get an error or exception or similar?

[2021-02-14 18:01] iantbutler01 commented on #112
Yes but nothing particularly crazy, just that it can't find "Oracle.Repo" which in our case makes sense.
[code]
I looked through the docs and the codebase a bit that looks like it's coming from here:
https://github.com/aaronrenner/phx_gen_auth/blob/3736a7184071689f6e81ff528913563c114fb229/lib/mix/tasks/phx.gen.auth.ex

[code]

Then in

[code]

~~I tried digging into the Gen module to figure out ho

[2021-02-14 21:41] iantbutler01 commented on #112
Okay I figured it out, if you set the ":generators, :context_app" setting to the app with the repo in it phx.gen.auth is able to generate. There are also issues with where the files were then generated in my app but I think that's because this wasn't originally an umbrella app so in terms of folder locations there are some non-standard project structure things going on but that's really not an iss

[2021-02-14 21:41] #112 closed, assigned to nobody

[2021-02-14 21:58] josevalim commented on #112
I think a PR would be welcome. Feel free to copy me. I think the biggest question is where you would document that... I assume it is a hard think to know that you need until you actually learn it exists. :)

[2021-02-18 10:27] manhtranlinh opened #113 "Is assign(:token, token) in get_user_by_reset_password_token(conn, _opts) used for?"
Hi all,
In the plug :get_user_by_reset_password_token
`
 defp get_user_by_reset_password_token(conn, _opts) do
    %{"token" => token} = conn.params

    if user = Accounts.get_user_by_reset_password_token(token) do
      conn |> assign(:user, user) |> assign(:token, token)
    else
      conn
      |> put_flash(:error, "Reset password link is invalid or it has expired.")
      |> redirect(to: "/"

[2021-02-20 05:46] aaronrenner commented on #113
Hi @manhtranlinh! This assigns is referenced in the `user_reset_password/edit.html.eex` template when calling the `Routes.user_reset_password_path/3` helper (`@token`).

https://github.com/aaronrenner/phx_gen_auth_output/blob/6a2d9e223ec1d90d6d6b79103f5d07944f4b2993/lib/demo_web/templates/user_reset_password/edit.html.eex#L3

By having the token in the path for the edit and update actions, we're a

[2021-02-20 05:46] #113 closed, assigned to nobody

[2021-02-20 17:40] aaronrenner commented on #100
@josevalim Here's the proposed changes to the generated code for this one. If this looks good, I'll update the generators.

Let me know what you think!

[code]

[2021-02-20 19:09] josevalim commented on #100
Looks great honestly!

[2021-02-21 04:58] #100 closed, assigned to aaronrenner

[2021-03-17 07:39] conradwt opened #114 "assign @current_user not available in eex template."
After following the instructions within the `README.md`, I'm seeing the following error message when navigating to the landing page:

[code]

Note:  I'm not sure where `@current_user` is being defined here.

[code]

[code]

mix.exs (deps)
[code]

[2021-03-17 07:42] josevalim commented on #114
This means the route you are trying to access is not running the plugs generated by `mix phx.gen.auth`. Make sure the plugs are in our pipeline and that the routes are invoking the relevant pipelines. Thanks.

[2021-03-17 10:30] conradwt commented on #114
@josevalim After creating a new Phoenix project with `mix phx.gen.auth`, things work as expected.  However, I was able to determine that the original project was missing `fetch_current_user` plug after comparing it against the new project.  Thus, this issue can be closed.

[2021-03-17 10:30] #114 closed, assigned to nobody

[2021-03-21 23:56] MapperMalte opened #115 "This fuck messed up my whole project and I had to delete it"
It should not overwrite existing files.

[2021-03-22 05:56] #115 closed

[2021-04-29 13:51] dbi1 opened #120 "Two elements with non-unique id #user_action"
On the phx.gen.auth settings page, I get the following notice in the Chrome Dev Tools console:

`[DOM] Found 2 elements with non-unique id #user_action: (More info: https://goo.gl/9p2vKq) <input id=​"user_action" name=​"action" type=​"hidden" value=​"update_email">​ <input id=​"user_action" name=​"action" type=​"hidden" value=​"update_password">​`

Just wanted to pass this along.

P.S.: The phx.ge

[2021-05-02 17:26] kevinlang commented on #105
I'm also interested in this. One question I have for your proposed solution, @aaronrenner :

AFAIK for the migration will also need to be updated to support the case where one of the `_usec` variants is provided. Do you think this should be done by setting the `migration_timestamps` for the entire project to have the corresponding value? Or should we update the migration generators to look at the

[2021-05-29 05:17] alaadahmed opened #121 "dialyzer show some warnings in user_settings_controller"
I think it is trivial, but since upgrading to erlang/otp 24.0, I see this warning from Dialyzer on the `user_settings_controller.ex`
the warning is: `The call _.'email'/() requires that _@3 is of type atom(), not {map(), map()}`
this is inside the `update` function
[code]

[2021-06-02 19:28] rayrrr opened #122 "use of HTTP DELETE verb for log out causing issues"
This generator is looking good overall!

As for the log out link, though, I am getting a "no route to host" from Phoenix upon clicking "log out" for a logged-in user. Even though the code is describing the use of a DELETE verb in the request, Phoenix is interpreting it as a GET request.

Upon further reading here https://stackoverflow.com/questions/6926512/how-to-specify-delete-method-in-a-link-or

[2021-06-02 19:49] josevalim commented on #122
The issue is that some link accelerator or browser extensions automatically traverse things and that may sign the user out. Actions that are destructive on the server, which logout is, should never be done via GET. If DELETE is not working, is most likely because the JavaScript extension in Phoenix.HTML not working as expected. Otherwise phx.gen.auth should work!

[2021-06-02 19:49] #122 closed, assigned to nobody

[2021-06-08 09:13] marschro opened #123 "User is logged in right away after registration"
Hi @aaronrenner,

I was wondering about the strategy to log in a user right away after the registration.
In my case, the login should only be possible if the user confirmed the mail address.

https://github.com/aaronrenner/phx_gen_auth/blob/a9e92df94afb8eef8dae0a41a9c1654863607874/priv/templates/phx.gen.auth/registration_controller.ex#L24

I know, all requirements are somehow special and that's wh

[2021-06-08 09:36] josevalim commented on #123
You can remove the login call if you prefer and then add a check where the user cannot login until he confirms his e-mail. Or alternatively, allow him to access only part of the application until he confirms.

The reason why we login after registration without confirmation is because that may be a better experience in many cases. If you ask users to wait for an e-mail to arrive... they may lose in

[2021-06-08 09:36] #123 closed, assigned to nobody

[2021-06-08 09:40] marschro commented on #123
Perfect - after thinking about it a bit longer, I totally agree about the user experience aspect. I keep your approach and will provide the functionalities by checking if the user has already confirmed or is in certain user-group.
Thank you @josevalim 👍 - Elixir changed my live!

[2021-06-08 18:25] rayrrr commented on #122
Hi @josevalim your tip about Phoenix.HTML JavaScript helped a lot. The line `import "phoenix_html"` was missing from `app.js` and putting it in there made the DELETE HTTP verb sign-out links function correctly. Thank you for your quick reply and for creating such an exciting language in the first place!

[2021-06-09 12:53] zoedsoupe commented on #121
I'm also having this warning

elixir: `v.1.12.1`
erlang/OTP: `24.0.0`

[2021-06-10 03:43] niccolox commented on #20
its happening
https://iacobson.medium.com/phx-gen-auth-and-oauth-for-a-phoenix-liveview-app-a19a27e6befa

[2021-06-21 18:39] Baradoy commented on #121
I was seeing this with:
[code]
I fixed it by changing `user = conn.assigns.current_user` -> `%User{} = user = conn.assigns.current_user`. I do not understand why that worked though.

[2021-07-07 01:43] zwippie opened #124 "Prevent runtime error when malformed login params are received"
TLDR: Prevent runtime error when malformed login params are received, to prevent leaking those _possibly_ sensitive params to logs or external monitoring services.

Scenario: User/Client wants to login but it sends the credentials in a wrong format, for example the `email` and `password` are not wrapped in a map with a `user` key, or `password` is misspelled as `pass`, anything. Some reasons: deve

[2021-07-07 05:43] josevalim commented on #124
Those should be converted to ActionClauseError or CastError, which is status 4xx and should not report by default. If it does, you can ignore it in your reporting tools. If you get another error, please post the exception here. Thanks!

[2021-07-22 23:39] nskins opened #125 "Add an option to generate auth with username instead of email"
It would be nice to have a custom option for applications that don't need a user's email address to have the authentication generated with a username instead. This means the register and login screens would only require a username (with some minimum length) and a password.

I often work on projects that I like to show my friends and the open source community, but I don't want to deter someone away

[2021-07-23 06:11] josevalim commented on #125
We don’t plan to add more options and flags, as it comes with complexity on the generator, the goal is for you to change and extended the generated code as needed.

[2021-07-23 06:11] #125 closed, assigned to nobody

[2021-08-21 01:29] liamwhite opened #126 "Confirmation routes can confirm changes without user acknowledgement"
The other controllers require some sort of POST interaction, but the [confirmation](https://github.com/aaronrenner/phx_gen_auth/blob/a9e92df94afb8eef8dae0a41a9c1654863607874/priv/templates/phx.gen.auth/routes.ex#L31) and [email confirmation](https://github.com/aaronrenner/phx_gen_auth/blob/a9e92df94afb8eef8dae0a41a9c1654863607874/priv/templates/phx.gen.auth/routes.ex#L22) routes are GET only, and

[2021-08-21 06:00] josevalim commented on #126
Good call, I will make it two steps. :)

[2021-08-21 07:04] josevalim commented on #126
Please see: https://github.com/phoenixframework/phoenix/pull/4419

[2021-08-21 07:05] #124 closed, assigned to nobody

[2021-08-21 07:09] josevalim commented on #120
Please see: https://github.com/phoenixframework/phoenix/pull/4420

[2021-08-21 07:09] #120 closed, assigned to nobody

[2021-08-23 12:52] Kaquadu opened #127 "Scoping paths in Router"
Hello,
I've got a question about paths generated in the Router. Is this intended that these paths are not scoped under the name of the user's schema? If yes - why is that? I know that it is an easy change and it takes 30 seconds to rename the scope, but I am just curious what is the reason.

My point is that according to the Phoenix documentation scopes are a way to group routes under a common pat

[2021-08-29 06:02] aj-foster commented on #121
Not 100% sure on any of this, but here's a theory:

Prior to the line with the warning (`user.email`), the `user` value passes through `Accounts.apply_user_email/3` where it gets passed to `Ecto.Changeset.cast/4`. The type specification on `cast/4` has the first argument as:

[code]

which, if you expand the types, is:

[code]

In short, Dialyzer should see a success typing on `user` of either `{m

[2021-08-31 05:48] v0idpwn commented on #121
I had very similar issues and they got solved updating to 1.12.2/OTP 24.0.5. Not sure about the details, I didn't try a lot

[2021-09-06 16:33] Aridjar opened #128 "Add a --context-app for umbrella with a dedicated database app"
Hello.

First of all, thanks for the lib!
I hesitated to open an issue directly in the phoenix repo, but as it doesn't seem like both and neither a feature nor a bug, I didn't know where to put it, so here it is.
Sorry if it misplaced.

When creating an umbrella project with multiple app depending of the same Database, I use a vanilla app with Ecto as a base app for the database through the option

[2021-09-14 04:49] aaronrenner commented on #128
@Aridjar Thanks for trying out this library! Now that phx.gen.auth has been merged into phoenix 1.6, I'm going to archive this repo. Would you mind opening this issue over on the phoenix repo?

Thanks!

[2021-09-14 04:49] #128 closed, assigned to nobody

[2021-09-14 04:51] aaronrenner commented on #127
Hi @Kaquadu. If you don't mind, would you open this issue under the phoenix repo? Now that this has been merged into phoenix 1.6, I'm archiving this repository.

[2021-09-14 04:51] #127 closed, assigned to nobody

[2021-09-14 04:52] aaronrenner commented on #121
@alaadahmed Would you mind opening this issue under the phoenix repo? Now that phx.gen.auth has been released with phoenix 1.6, this repo is no longer maintained and is being archived.

[2021-09-14 04:52] #121 closed, assigned to nobody

[2021-09-14 04:54] aaronrenner commented on #105
@sebasortiz-dev If this is still a request, would you mind opening it under the phoenix repo? Since phx.gen.auth has been released with phoenix 1.6, this repo is being archived. Thanks!

[2021-09-14 04:54] #105 closed, assigned to nobody

[2021-09-14 04:54] #126 closed, assigned to nobody